{% extends 'app/base.html' %}
{% load i18n %}
{% block body %}

{% if msg_confirm %}
    <div class="alert alert-success" role="alert">
        {% trans msg_confirm %}
    </div>
{% endif %}
<form action="{% url 'adduser' %}" class="form-signin" method="POST">
    {% csrf_token %}
    <div class="form-group">
		<div class="col-md-10">
			<h2 class="form-signin-heading">{% trans "Cadastrar" %}</h2>
		</div>
	</div>
    <div class="form-group">
        <div class="col-md-10">
        {{ form.username }}
        {{ form.username.error }}
        </div>
    </div>  
    <div class="form-group">
        <div class="col-md-10">   
        {{ form.email }}
        {{ form.email.error }}  
    </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
        {{ form.password }}
        {{ form.password.error }}
    </div>
    </div>    
    <div class="form-group">
        <div class="col-md-10">
    <button class="btn btn-lg btn-primary btn-block" type="subimit">Cadastrar</button>
    </div>
    </div>
</form>

{% endblock %}