{% extends 'app/base.html' %}
{% load i18n %}
{% block body %}

{% if msg_confirm %}
    <div class="alert alert-{{alert_type}}" role="alert">
        {% trans msg_confirm %}
    </div>
{% endif %}
<form action="{% url 'adduser' %}" class="form-signin col-md-6" method="POST" style="color: gray; background: #C1CDCD;">
    {% csrf_token %}
    <div class="form-group" align="center">
		<div class="col-md-10">
			<h2 class="form-signin-heading text-primary">{% trans "Cadastrar" %}</h2>
		</div>
	</div>
    <div class="form-group">
        <div>
        {{ form.username }}
        {{ form.username.error }}
        </div>
    </div>  
    <div class="form-group">
        <div>   
        {{ form.email }}
        {{ form.email.error }}  
        </div>
    </div>  
    <div class="form-group">
        <div>
        {{ form.password }}
        {{ form.password.error }}
        </div>
    </div>    
    <div class="form-group">
        <div>
        <input type="password" name="last-password" maxlength="128" placeholder="Confirme a Senha" class="form-control" required id="id_last_password">
        {{ form.password.error }}
        </div>
    </div>  
    <div class="form-group">
        <div>
    <button class="btn btn-lg btn-primary btn-block" type="subimit">Cadastrar</button>
        </div>
    </div>
</form>

{% endblock %}