<!DOCTYPE html>
<html>
{% load i18n %}
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% trans title_page %}</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome-all.min.css' %}">
	{% block head %}
	{% endblock %}
</head>
<body style="margin-top: 5em;">
<div class="container-fluid">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
				<div class="container">
				<a class="navbar-brand" href="{% url 'index' %}">TShort</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'help' %}">Ajuda</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'about' %}">Sobre</a>
						</li>
					</ul>

					<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
						{% if perfil_logado.name %}

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ perfil_logado.name }}</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{% url 'report' %}">{% trans "Relatório" %}</a>
								<a class="dropdown-item" href="{% url 'contatos' %}">{% trans "Contatos" %}</a>
								<a class="dropdown-item" href="#">Something else here</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{%url 'logout' %}">Sair</a>
							</div>
						</li>						
						{% else %}
							<li class="nav-item active">
								<a class="nav-link" href="{% url 'login' %}">Login</a>
							</li>
						{% endif %}
					</ul>

				</div>
			</div>
		</nav>
	</header>
	
	<section class="row">
	<nav class="col-md-3">
			<div class="container-fluid">
				Publicidade
			</div>
			
		</nav>
	<article class="col-md-9">
		{% block body %}
		{% endblock %}
	</article>
	<section>

	<footer>
	 <p> &copy; {% trans "Todos os direitos resevados a Infsolution." %}</p>
	</footer>	
	</div>
		<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>



	<!--form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form-->