{% extends 'app/base.html' %}
{% load i18n %}
{% block body %}
			<form class="form-inline" method="GET" action="{% url 'shorten' %}">
				<div class="input-group mb-3">
					<input class="form-control-lg" type="search" placeholder="URL" name="url" required>
				<div class="input-group-append">
			    <button class="btn btn-primary" type="submit">{% trans "Encurtar" %}</button>
				</div>
			</div>
			</form>
		
		{% if url_short %}
		<h3>Sua url: localhost:8000/{{ url_short }}</h3>
		{% endif %}
			
		
	</div>

{% endblock %}

