{% extends 'app/base.html' %}
{% load i18n %}
{% block body %}
<h2>{% trans "Sua Urls" %}</h2>
<table class="table table-hover table-responsive">
	<thead>
		<tr>
			<th scope="col">{% trans "ID"%}</th>
			<th scope="col">{% trans "URL EUNCURTADA"%}</th>
			<th scope="col">{% trans "URL"%}</th>
			<th scope="col">{% trans "DATA"%}</th>
			<th scope="col">{% trans "CÓDIGO SECRETO"%}</th>

		</tr>
	</thead>
	<tbody>	
		{% if shorteneds %}
			{% for shortened in  shorteneds%}
			<tr>
			<th scope="row">{{shortened.id}}</th>
			<td>{{ shortened.url_shortened }}</td>
			<td>{{shortened.url}}</td>
			<td>@{{shortened.created_at}}</td>
			<td>{{shortened.private_code}}</td>
			<td><a href="#">Detalhes</a></td>
			</tr>
			{% endfor %}
		{% endif %}
</tbody>
</table>
{% endblock %}